################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PerBrain/.vs/PerBrain/FileContentIndex/b6f92225-92ca-417e-a5d9-702bf2cb06f8.vsidx
/PerBrain/.vs/PerBrain/FileContentIndex/a8cded6a-2f26-42e8-8bef-e27b0c96974a.vsidx
/PerBrain/.vs/PerBrain/FileContentIndex/1c409281-6372-453f-bed1-787abd20732d.vsidx
/PerBrain/.vs/PerBrain/FileContentIndex/11068c38-7d34-4153-9302-da0f5ec5b434.vsidx
/PerBrain/.vs/PerBrain/FileContentIndex/09a1c069-27f0-4ab1-ad8d-63de78db9ae7.vsidx
/PerBrain/.vs/PerBrain/CopilotIndices/17.14.719.50355
/PerBrain/obj/Debug/net8.0/PerBrain.AssemblyInfo.cs
/PerBrain/obj/Debug/net8.0/PerBrain.AssemblyInfoInputs.cache
/PerBrain/obj/Debug/net8.0/PerBrain.assets.cache
/PerBrain/obj/Debug/net8.0/rpswa.dswa.cache.json
PerBrain/.vs/PerBrain/FileContentIndex/453c380f-6a18-4d6b-beec-b78e2ce31108.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/629fea7d-1b1a-4ed4-bc5e-6f55b1619d61.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/09596eb7-f73d-4682-836e-d339ba06e25d.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/79000a2c-3947-4120-a93a-a7d7a6a526b0.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/ac384dc7-f0e1-411d-a71c-c61223286b18.vsidx
/PerBrain/obj/PerBrain.csproj.nuget.dgspec.json
/PerBrain/obj/PerBrain.csproj.nuget.g.targets
/PerBrain/obj/PerBrain.csproj.nuget.g.props
/PerBrain/obj/project.assets.json
/PerBrain/obj/project.nuget.cache
/PerBrain/.vs/PerBrain/v17/DocumentLayout.backup.json
/PerBrain/.vs/PerBrain/v17/DocumentLayout.json
/PerBrain/.vs/PerBrain/v17/.suo
/PerBrain/.vs/PerBrain/DesignTimeBuild
/PerBrain/bin/Debug/net8.0
/PerBrain/.vs/PerBrain/config
/PerBrain/obj/Debug/net8.0/refint
/PerBrain/obj/Debug/net8.0/ref
/PerBrain/obj/Debug/net8.0/EndpointInfo
*.json
/PerBrain/obj/Debug/net8.0/apphost.exe
/PerBrain/obj/Debug/net8.0/PerBrain.csproj.FileListAbsolute.txt
/PerBrain/obj/Debug/net8.0/PerBrain.csproj.AssemblyReference.cache
/PerBrain/obj/Debug/net8.0/PerBrain.csproj.BuildWithSkipAnalyzers
/PerBrain/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/PerBrain/obj/Debug/net8.0/PerBrain.dll
/PerBrain/obj/Debug/net8.0/PerBrain.csproj.CoreCompileInputs.cache
/PerBrain/obj/Debug/net8.0/PerBrain.csproj.Up2Date
/PerBrain/obj/Debug/net8.0/PerBrain.genruntimeconfig.cache
/PerBrain/obj/Debug/net8.0/PerBrain.MvcApplicationPartsAssemblyInfo.cache
/PerBrain/obj/Debug/net8.0/PerBrain.MvcApplicationPartsAssemblyInfo.cs
/PerBrain/obj/Debug/net8.0/PerBrain.pdb
/PerBrain/obj/Debug/net8.0/staticwebassets.build.json.cache
PerBrain/.vs/PerBrain/FileContentIndex/9f210eb2-eb31-47cb-a2f7-054f38b9e166.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/2527aaf3-4a66-4370-87db-42f3378231c0.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/4532dfda-3731-4b25-940f-ec37a3481b49.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/a0e102ea-102f-4b5e-b416-bfe4d5daa01f.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/ea5883e5-f40f-43c3-bc50-28762b3b0c13.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/aaceac3b-07d7-4660-ac24-9243924d5492.vsidx
