################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PerBrain/.vs/PerBrain/FileContentIndex/b6f92225-92ca-417e-a5d9-702bf2cb06f8.vsidx
/PerBrain/.vs/PerBrain/FileContentIndex/a8cded6a-2f26-42e8-8bef-e27b0c96974a.vsidx
/PerBrain/.vs/PerBrain/FileContentIndex/1c409281-6372-453f-bed1-787abd20732d.vsidx
/PerBrain/.vs/PerBrain/FileContentIndex/11068c38-7d34-4153-9302-da0f5ec5b434.vsidx
/PerBrain/.vs/PerBrain/FileContentIndex/09a1c069-27f0-4ab1-ad8d-63de78db9ae7.vsidx
/PerBrain/.vs/PerBrain/CopilotIndices/17.14.719.50355
/PerBrain/obj/Debug/net8.0/PerBrain.AssemblyInfo.cs
/PerBrain/obj/Debug/net8.0/PerBrain.AssemblyInfoInputs.cache
/PerBrain/obj/Debug/net8.0/PerBrain.assets.cache
/PerBrain/obj/Debug/net8.0/rpswa.dswa.cache.json
