################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PerBrain/.vs/PerBrain/FileContentIndex/b6f92225-92ca-417e-a5d9-702bf2cb06f8.vsidx
/PerBrain/.vs/PerBrain/FileContentIndex/a8cded6a-2f26-42e8-8bef-e27b0c96974a.vsidx
/PerBrain/.vs/PerBrain/FileContentIndex/1c409281-6372-453f-bed1-787abd20732d.vsidx
/PerBrain/.vs/PerBrain/FileContentIndex/11068c38-7d34-4153-9302-da0f5ec5b434.vsidx
/PerBrain/.vs/PerBrain/FileContentIndex/09a1c069-27f0-4ab1-ad8d-63de78db9ae7.vsidx
/PerBrain/.vs/PerBrain/CopilotIndices/17.14.719.50355
/PerBrain/obj/Debug/net8.0/PerBrain.AssemblyInfo.cs
/PerBrain/obj/Debug/net8.0/PerBrain.AssemblyInfoInputs.cache
/PerBrain/obj/Debug/net8.0/PerBrain.assets.cache
/PerBrain/obj/Debug/net8.0/rpswa.dswa.cache.json
PerBrain/.vs/PerBrain/FileContentIndex/453c380f-6a18-4d6b-beec-b78e2ce31108.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/629fea7d-1b1a-4ed4-bc5e-6f55b1619d61.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/09596eb7-f73d-4682-836e-d339ba06e25d.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/79000a2c-3947-4120-a93a-a7d7a6a526b0.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/ac384dc7-f0e1-411d-a71c-c61223286b18.vsidx
/PerBrain/obj/PerBrain.csproj.nuget.dgspec.json
/PerBrain/obj/PerBrain.csproj.nuget.g.targets
/PerBrain/obj/PerBrain.csproj.nuget.g.props
/PerBrain/obj/project.assets.json
/PerBrain/obj/project.nuget.cache
/PerBrain/.vs/PerBrain/v17/DocumentLayout.backup.json
/PerBrain/.vs/PerBrain/v17/DocumentLayout.json
/PerBrain/.vs/PerBrain/v17/.suo
/PerBrain/.vs/PerBrain/DesignTimeBuild
/PerBrain/bin/Debug/net8.0
/PerBrain/.vs/PerBrain/config
/PerBrain/obj/Debug/net8.0/refint
/PerBrain/obj/Debug/net8.0/ref
/PerBrain/obj/Debug/net8.0/EndpointInfo
*.json
/PerBrain/obj/Debug/net8.0/apphost.exe
/PerBrain/obj/Debug/net8.0/PerBrain.csproj.FileListAbsolute.txt
/PerBrain/obj/Debug/net8.0/PerBrain.csproj.AssemblyReference.cache
/PerBrain/obj/Debug/net8.0/PerBrain.csproj.BuildWithSkipAnalyzers
/PerBrain/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/PerBrain/obj/Debug/net8.0/PerBrain.dll
/PerBrain/obj/Debug/net8.0/PerBrain.csproj.CoreCompileInputs.cache
/PerBrain/obj/Debug/net8.0/PerBrain.csproj.Up2Date
/PerBrain/obj/Debug/net8.0/PerBrain.genruntimeconfig.cache
/PerBrain/obj/Debug/net8.0/PerBrain.MvcApplicationPartsAssemblyInfo.cache
/PerBrain/obj/Debug/net8.0/PerBrain.MvcApplicationPartsAssemblyInfo.cs
/PerBrain/obj/Debug/net8.0/PerBrain.pdb
/PerBrain/obj/Debug/net8.0/staticwebassets.build.json.cache
PerBrain/.vs/PerBrain/FileContentIndex/9f210eb2-eb31-47cb-a2f7-054f38b9e166.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/2527aaf3-4a66-4370-87db-42f3378231c0.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/4532dfda-3731-4b25-940f-ec37a3481b49.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/a0e102ea-102f-4b5e-b416-bfe4d5daa01f.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/ea5883e5-f40f-43c3-bc50-28762b3b0c13.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/aaceac3b-07d7-4660-ac24-9243924d5492.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/042db4fa-b1f8-4a90-b804-c143692aa464.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/aeeb0316-fb8f-479a-ad5c-e37d5d247bfe.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/ba87c5eb-84d3-47ea-8099-f35a74707ba1.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/8f150219-5cb3-42a6-974b-02220d294707.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/2777f91a-5d44-47c5-badd-8d58b91d25ea.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/b487e373-0e9f-4972-8092-91739ba39c75.vsidx
PerBrain/.vs/PerBrain/v17/.futdcache.v2
/PerBrain/.vs/PerBrain/FileContentIndex/76aa0e6a-c8aa-4ffe-a0c6-e2ba0a96fad1.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/6e537ef7-77a1-4c96-a570-731cca7563e7.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/66b87a82-720c-4583-9fe2-dc7376a55ab6.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/d64c982f-7ad9-42e5-a109-171204a101d0.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/0d5a8ce6-e217-4726-a626-32ed9b21f83e.vsidx
.gitignore
PerBrain/.vs/PerBrain/FileContentIndex/5a443c52-ad0f-41c9-80d5-69885431a74b.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/1e992ab6-feff-4ba2-962f-db7d546e9077.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/83dcf77e-f1b0-4b62-8ffe-8cd7a4f1f0e1.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/270137c0-3904-4f61-944d-4720af9dc6ac.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/0224b45b-b7a2-4353-8713-d86e1c1aeae3.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/a6176a19-8be3-4a9e-a7da-3bc111dad0a2.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/4fbe0cbc-e82b-418f-96c2-5bf2f51ba05b.vsidx
PerBrain/.vs/PerBrain/FileContentIndex/37e6ccfd-7664-4cf4-b946-8ddfe78fb0d9.vsidx
