<div class="container">
  <img src="assets/svgs/login-background-3.svg" />
</div>

<div class="container-wrapper">
  <div class="application-name">
    <img
      class="header-logo"
      src="assets/app-logos/Persona-10.png"
      alt="App Logo"
    />
  </div>

  <div class="login-form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="login-form-container-header">
        <img
          class="header-logo-in-login-container"
          src="assets/app-logos/Persona-logo.png"
          alt="App Logo"
        />
        <mat-divider [vertical]="true"></mat-divider>
        <span
          style="
            text-align: center;
            font-weight: 600;
            color: #333;
            font-size: 2rem;
            margin-top: 16px;
          "
          >Sign in</span
        >
      </div>

      <mat-form-field floatLabel="auto">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required />
        <mat-icon matSuffix>email</mat-icon>
        @if (form.get('email')?.hasError('required')) {
        <mat-error>Email is required</mat-error>
        } @else if (form.get('email')?.hasError('email')){
        <mat-error>Email format is invalid</mat-error>
        }
      </mat-form-field>

      <mat-form-field floatLabel="auto">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" required type="text" />
        <mat-icon matSuffix>lock</mat-icon>
        @if (form.get('password')?.hasError('required')) {
        <mat-error>Password is required</mat-error>
        }
      </mat-form-field>

      <div class="form-actions">
        <button mat-raised-button type="submit">Login</button>
        <button
          mat-raised-button
          class="sign-up-button"
          (click)="goToRegisterUser()"
        >
          Sign Up
        </button>
      </div>
    </form>
  </div>
</div>
