@use "@angular/material" as mat;
@include mat.elevation-classes();

mat-toolbar {
  position: relative;
  z-index: 5;
}

.content {
  padding: 24px;
}

.mat-elevation-z3 {
  height: 7% !important;
  box-shadow: 0 2px 4px -1px rgba(0, 123, 255, 0.1),
    0 4px 6px 0 rgba(0, 123, 255, 0.08), 0 1px 10px 0 rgba(0, 123, 255, 0.06) !important;
}

@for $z from 1 through 24 {
  .mat-elevation-z#{$z} {
    @include mat.elevation($z);
  }
}

mat-sidenav {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0 !important;
  box-sizing: border-box;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-sidenav,
mat-sidenav-content {
  transition: all 500ms ease-in-out;
}

.header-logo {
  height: 40px;
  margin-left: 16px;
}
