:host {
  --table-icon-size: 18px;
  --table-gap: 8px;
  --button-size: 38px;
  --search-field-min-width: 250px;
}

.table-container {
  padding: 6px;
  height: 95%;
}

.example-container {
  width: 100%;
  height: 85%;
  overflow-x: auto;
  overflow-y: auto;
}

.table-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
}

.flex-spacer {
  flex: 1 1 auto;
}

.utility-section {
  display: flex;
  align-items: center;
  gap: var(--table-gap);

  .multi-select-delete-button {
    width: var(--button-size);
    height: var(--button-size);
    color: var(--mat-sys-on-error);
    background: var(--mat-sys-error);

    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  .search-field {
    min-width: var(--search-field-min-width);
    flex-shrink: 0;
  }
}

.mat-mdc-icon-button {
  &.edit-icon {
    color: var(--mat-sys-on-primary-container);
    font-size: var(--table-icon-size);
    margin-right: var(--table-gap);
  }

  &.delete-icon {
    color: var(--mat-sys-error);
    font-size: var(--table-icon-size);
  }
}

.mat-mdc-table {
  width: 100%;
  min-width: 1200px;
  table-layout: auto;
}

.mat-mdc-row {
  will-change: background-color;
  transition: background-color 0.15s ease;

  &.selected-row {
    background-color: var(--mat-sys-surface-variant);
  }

  &:hover {
    background-color: var(--mat-sys-surface-container-low);
  }
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  background: var(--mat-sys-surface);
  z-index: 1;
  min-width: 150px;
  white-space: nowrap;
}

.mat-mdc-header-cell.sticky,
.mat-mdc-cell.sticky {
  position: sticky;
  left: 0;
  background: var(--mat-sys-surface);
  z-index: 2;
}

.mat-column-select {
  position: sticky;
  left: 0;
  z-index: 11;
  background: var(--mat-sys-surface);
  min-width: 60px;
  max-width: 60px;

  text-overflow: clip !important;
  overflow: visible !important;
  white-space: normal !important;
}

.mat-column-actions {
  position: sticky;
  right: 0;
  z-index: 11;
  background: var(--mat-sys-surface);
  min-width: 100px;
}

.paginator-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .paginator-info {
    font-weight: 500;
    color: #444;
    padding-left: 8px;
  }

  mat-paginator {
    flex: none;
  }
}

.more-selection-button {
  flex-shrink: 0;
}

table.mat-table {
  border-collapse: separate;
}

tr.mat-mdc-header-row {
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--mat-sys-surface);
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: #e0e0e0;
  background: #f3f3f3;
  color: black;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

mat-button-toggle-group {
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

mat-button-toggle {
  border: none !important;
}

.create-button {
  width: var(--button-size);
  height: var(--button-size);
}
