:host {
  --table-icon-size: 18px;
  --table-gap: 8px;
  --button-size: 38px;
  --search-field-min-width: 250px;
}

.table-container {
  padding: 6px;
  height: 95%;
  // border: solid 1px black;
}

.example-container {
  width: 100%;
  height: 85%;
  overflow-x: auto;
  overflow-y: auto;
}

.table-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
}

.flex-spacer {
  flex: 1 1 auto;
}

.utility-section {
  display: flex;
  align-items: center;
  gap: var(--table-gap);

  .multi-select-delete-button {
    width: var(--button-size);
    height: var(--button-size);
    color: var(--mat-sys-on-error);
    background: var(--mat-sys-error);

    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  .search-field {
    min-width: var(--search-field-min-width);
    flex-shrink: 0;
  }
}

.mat-mdc-icon-button {
  &.edit-icon {
    color: var(--mat-sys-on-primary-container);
    font-size: var(--table-icon-size);
    margin-right: var(--table-gap);
  }

  &.delete-icon {
    color: var(--mat-sys-error);
    font-size: var(--table-icon-size);
  }
}

.mat-mdc-table {
  min-width: 1200px;
  table-layout: auto;
}
.mat-mdc-row {
  will-change: background-color;
  transition: background-color 0.15s ease;

  &.selected-row {
    background-color: var(--mat-sys-surface-variant);
  }

  &:hover {
    background-color: var(--mat-sys-surface-container-low);
  }
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  background: var(--mat-sys-surface); // required for sticky
  z-index: 1;
  min-width: 150px; // 👈 adjust to avoid squishing
  white-space: nowrap; // prevent wrapping
}

.mat-mdc-header-cell.sticky,
.mat-mdc-cell.sticky {
  position: sticky;
  left: 0; // for sticky columns
  background: var(
    --mat-sys-surface
  ); // background is needed so content under it doesn’t bleed through
  z-index: 2;
}

.mat-column-select {
  position: sticky;
  left: 0;
  z-index: 3;
  background: var(--mat-sys-surface);
  min-width: 60px;
  max-width: 60px;
}

// .mat-column-id {
//   position: sticky;
//   left: 60px;
//   z-index: 3;
//   background: #fff;
// }

/* Sticky: last col (actions) */
.mat-column-actions {
  position: sticky;
  right: 0;
  z-index: 3;
  background: var(--mat-sys-surface);
  min-width: 100px;
}

.paginator-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-top: 8px;

  .paginator-info {
    // font-size: 14px;
    font-weight: 500;
    color: #444;
    padding-left: 8px;
  }

  mat-paginator {
    flex: none;
  }
}

.more-selection-button {
  flex-shrink: 0;
}
